@model BVSneaker.Models.EF.Product
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Brand" class="nav-link">Product</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product Infomation</h3>

            @*<div class="card-tools">
                    <a href="/menu/add" class="btn btn-primary">Thêm mới</a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="card-body p-0">
                @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- your steps content here -->

                    <div class="card">

                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">General Infomation</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Product Images</a></li>
                                @*<li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Product Stock</a></li>*@
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="exampleInputEmail1">Product Name</label>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Example: New.." })
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                            <br />
                                            <label for="exampleInputEmail1">Description</label>
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "txtDes" })
                                            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4" style="padding:20px;">
                                            <label for="exampleInputEmail1">Product Brand</label>
                                            @Html.DropDownListFor(x => x.Brand_Id, ViewBag.Brand as SelectList, "-Select product's brand-", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Brand_Id, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-4" style="padding:20px;">
                                            <label for="exampleInputEmail1">Product Topic</label>
                                            @Html.DropDownListFor(x => x.Topic_Id, ViewBag.Topic as SelectList, "-Select product's topic-", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Topic_Id, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-4" style="padding:20px;">
                                            <label for="exampleInputEmail1">Product Category</label>
                                            @Html.DropDownListFor(x => x.Category_Id, ViewBag.Category as SelectList, "-Select product's category-", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Category_Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="button" class="btn btn-primary" id="UploadImage" onclick="BrowseServer()" value="Upload Images" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover" id="tbProductImage">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Image</th>
                                                        <th class="text-center">IsCover</th>
                                                        <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbHtml">
                                                </tbody>
                                            </table>
                                            <input type="hidden" id="tCurrentId" value="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Add Product</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDes', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
            $('body').on('click', '.btnDelete', function () {
                var conf = confirm('Do you want to delete this image?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).remove();
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });


        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center">${currentId}</td>
                            <td class="text-center"><img width="80px" src=${url} /><input type='hidden' value="${url}" name="Images"/></td>
                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked /></td>
                            <td><a href="#" data-id="${currentId}"class="btn btn-sm btn-danger btnDelete">Delete</a></td>
                       </tr>`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center">${currentId}</td>
                            <td class="text-center"><img width="80px" src=${url} /><input type='hidden' value="${url}" name="Images"/></td>
                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" name="rDefault" /></td>
                            <td><a href="#" data-id="${currentId}"class="btn btn-sm btn-danger btnDelete">Delete</a></td>
                       </tr>`;
            }
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
        }
        //function addProductStock()
        //{

        //    var objStock = {
        //        Volume: $('#volume').val(),
        //        Quantity: $('#quantity').val(),
        //        Price: $('#price').val(),
        //    }
        //    $.ajax({
        //        url: '/productstock/addstock/',
        //        type: 'POST',
        //        data: JSON.stringify({ objStock }),
        //        success: function (rs) {
        //            if (rs.Success) {
        //                toastr.optionsOverride = 'positionclass = "toast-bottom-full-width"';
        //                toastr.options.positionClass = 'toast-bottom-right';
        //                toastr.success('Stock saved!');
        //            }
        //            else {
        //                toastr.optionsOverride = 'positionclass = "toast-bottom-full-width"';
        //                toastr.options.positionClass = 'toast-bottom-right';
        //                alert.error('Failed to save record!');
        //            }
        //        }
        //    });
        //}

        //$('#btnAddStock').click(function () {
        //    $('#ProductStock').modal('show');
        //});
    </script>
}